.subtopic-link {
    padding: 0 2%;
    list-style-type: none;
}

.subtopic-text {
    text-decoration: none;
}

.active {
    color: red;
    border-bottom: 5px solid red;
}

#content {
    border: 2px black solid;
    width: 85%;
}

#main-content {
    display: flex;
}

#sub-topic-links {
    display: flex;
    justify-content: flex-start;
}

#toc {
    border: 2px black solid;
    width: 15%
}