.nav-link {
    list-style: none;
    text-decoration: none;
    /* padding: 0 100px */
}

.navbar {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: aquamarine;
    height: 8vh;
    /* width: 100%; */
}

.navbar-nav {
    /* display: flex; */
    justify-content: space-between;
    width: 50%;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* margin: 0 2% */
}

.navbar-brand {
    padding: 0 2%;
}
.navbar-nav {
    /* display: flex; */
    /* justify-content: space-around; */
}

.subtopic-link {
    padding: 0 2%;
    list-style-type: none;
}

.subtopic-text {
    text-decoration: none;
}

.active {
    color: Blue;
    border-bottom: 5px solid red;
}

#content {
    border: 2px black solid;
    width: 85%;
}

#content h3 {
    /* justify-content: center; */
    /* padding: 15% 0; */
    /* width: 120%; */
    text-align: center;
    padding: 15% 0;
}

#main-content {
    display: flex;
}

#sub-topic-links {
    display: flex;
    justify-content: flex-start;
}

#toc {
    border: 2px black solid;
    width: 15%
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

#welcome h1 {
    padding: 2%
    
}